%tr.build.alert{class: commit_status_alert_class(commit)}
  %td.status
    = commit.status
    - if commit.running?
      &middot;
      = commit.job_type


  %td.build-link
    = link_to project_ref_commit_path(commit.project, commit.ref, commit.sha) do
      %strong #{commit.short_sha}

  %td.build-message
    %span= truncate_first_line(commit.git_commit_message)

  %td.build-branch
    - unless @ref
      %span
        = link_to truncate(commit.ref, length: 25), project_path(@project, ref: commit.ref)

  %td.duration
    - if commit.duration > 0
      #{time_interval_in_words commit.duration}

  %td.timestamp
    - if commit.finished_at
      %span #{time_ago_in_words commit.finished_at} ago

  - if commit.project.coverage_enabled?
    %td.coverage
      - if commit.coverage
        #{commit.coverage}%
